.title {
  font-size: 15px;
  font-weight: 500;
}

.divider {
//   border-top-width: 1px;
//   border-radius: 50%;
//   border-bottom-color: rgba(0, 0, 0, 0.12);
//   border-bottom-style: solid;
//   border-bottom-width: 1px;
}

.expansion-title {
  font-weight: 500;
}

p {
  font-family: system-ui;
}