<div class="animate__animated animate__fadeIn">
  <div class="d-flex flex-column align-items-center mt-3">
    <p class="title mb-1">Project Info</p>
  </div>
  <hr />
  <div class="">
    <ng-container *ngFor="let dashObject of data; let i = index">
      <!-- <mat-expansion-panel class="m-2" [expanded]="true"> -->
      <!-- <mat-expansion-panel-header>
          <mat-panel-title class="expansion-title">{{
            dashObject.title
          }}</mat-panel-title>
        </mat-expansion-panel-header> -->
      <ng-container *ngFor="let data of dashObject.data">
        <p class="m-2">{{ data }}</p>
      </ng-container>
      <!-- </mat-expansion-panel> -->
    </ng-container>
  </div>
</div>
